<div class="page-layout blank p-24" fusePerfectScrollbar>
    <div fxLayout="column" fxLayoutGap="20px" fxLayoutAlign="center center">
        <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="center center">
            <button mat-raised-button color="secondary" (click)="getVehicle()">Get Vehicle</button>
        </div>

        <div fxLayoutGap="20px" fxFill fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="flex-evenly">
            <ng-container *ngFor="let f of ferries">
                <div fxFlex>
                    <app-ferry-card [ferry]="f" (startFerry)="ferryStart($event)"></app-ferry-card>
                </div>
            </ng-container>
        </div>

    </div>

</div>