<div class="page-layout blank p-24" fusePerfectScrollbar>
    <div fxLayout="column" fxLayoutGap="20px" fxLayoutAlign="center center">
        <div fxLayout="column" fxLayoutGap="20px" fxLayoutAlign="center center">
            <button [disabled]="isAllFull" mat-raised-button color="secondary" (click)="getVehicle()">Get
                Vehicle</button>
        </div>

        <div fxLayout="row wrap" fxLayoutGap="20px" fxLayout.lt-md="column">
            <app-sale-widget></app-sale-widget>
        </div>

        <div fxLayoutGap="20px" fxFill fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="flex-evenly">
            <ng-container *ngFor="let f of ferries">
                <div fxFlex>
                    <app-ferry-card [ferry]="f" (startFerry)="ferryStart($event)"></app-ferry-card>
                </div>
            </ng-container>
        </div>

    </div>

</div>