<div id="dashboard-analytics" class="page-layout blank">

    <div class="content">

        <div class="left">

            <div fxLayout="row wrap" fxLayoutGap="20px" fxLayout.lt-md="column">

                <!-- Sales -->
                <div class="mb-48" [ngClass.lt-lg]="'mr-32'" [ngClass.xs]="'mr-0'">

                    <div class="pb-24 font-size-18 font-weight-300">
                        How are your sales?
                    </div>

                    <div class="fuse-card">

                        <div class="light-blue-600">

                            <div class="p-16" fxLayout="row" fxLayoutAlign="space-between center">
                                <div class="pr-16">
                                    <div class="h1 font-weight-300">Sales</div>
                                    <div class="h5 secondary-text">Lifetime sum of your sales</div>
                                </div>
                            </div>

                            <div class="p-16 pt-8" fxLayout="row" fxLayoutAlign="space-between end">
                                <div class="font-size-48 font-weight-300 line-height-1">1000$</div>
                            </div>

                        </div>

                    </div>

                </div>
                <!-- / Sales -->

                <!-- Top Vehicles -->
                <div class="mb-48" [ngClass.lt-lg]="'mr-32'" [ngClass.xs]="'mr-0'">

                    <div class="pb-24 font-size-18 font-weight-300 text-center">
                        What are your top vehicles?
                    </div>

                    <div class="fuse-card">

                        <div class="p-16">
                            <div class="h1 font-weight-300">Sessions by device</div>
                        </div>

                        <div class="h-200">
                            CHART HERE
                        </div>

                        <div class="p-16" fxLayout="row" fxLayoutAlign="center center">

                            <div class="px-16" fxLayout="column" fxLayoutAlign="start center">

                                <div class="h4 secondary-text">Device 1</div>
                                <div class="h2 font-weight-300 py-8">30%</div>

                            </div>

                        </div>
                    </div>

                </div>
                <!-- / Top Vehicles -->

            </div>

        </div>

    </div>

</div>