<div id="dashboard-analytics" class="page-layout blank">

    <div class="content">

        <div class="left">

            <div fxLayout="row wrap" fxLayoutGap="20px" fxLayout.lt-md="column">

                <!-- Top Vehicles -->
                <div class="mb-48" [ngClass.lt-lg]="'mr-32'" [ngClass.xs]="'mr-0'">

                    <div class="pb-24 font-size-18 font-weight-300 text-center">
                        What are your top devices?
                    </div>

                    <div class="fuse-card">

                        <div class="p-16">
                            <div class="h1 font-weight-300">Sessions by device</div>
                        </div>

                        <div class="h-200">
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nobis, repudiandae?
                        </div>

                        <div class="p-16" fxLayout="row" fxLayoutAlign="center center">

                            <div class="px-16" fxLayout="column" fxLayoutAlign="start center">

                                <div class="h4 secondary-text">Device 1</div>
                                <div class="h2 font-weight-300 py-8">30%</div>

                            </div>
                            <div class="px-16" fxLayout="column" fxLayoutAlign="start center">

                                <div class="h4 secondary-text">Device 2</div>
                                <div class="h2 font-weight-300 py-8">20%</div>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- / Top Vehicles -->

                <!-- Sales -->
                <div class="mb-48" [ngClass.lt-lg]="'mr-32'" [ngClass.xs]="'mr-0'">

                    <div class="pb-24 font-size-18 font-weight-300 text-center">
                        How are your sales?
                    </div>

                    <div class="fuse-card">

                        <div class="p-16">
                            <div class="h1 font-weight-300">Sessions by device</div>
                        </div>

                        <div class="h-200">
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nobis, repudiandae?
                        </div>

                        <div class="p-16" fxLayout="row" fxLayoutAlign="center center">

                            <div class="px-16" fxLayout="column" fxLayoutAlign="start center">

                                <div class="h4 secondary-text">Device 1</div>
                                <div class="h2 font-weight-300 py-8">80%</div>

                            </div>

                        </div>

                    </div>

                </div>
                <!-- / Sales -->

            </div>

        </div>

    </div>

</div>